@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:"Azeret Mono", monospace ;
    margin: 0 auto;
    max-width: 1440px;
    
}

/* shared style */

.font-style-h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.font-style-p{
    color: rgba(13, 19, 33,0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/* shared style */

/* header part style starts here */


header{
    width: 1440px;
}
#hero{
    width: 100%;
    height: 740px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.hero-content{
   
    width: 998px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.hero-content .hero-img{
    width: 235px;
    height: 235px;
    margin-bottom: 32px;
}

.hero-content .hero-img img{
    width: 100%;
    height: 100%;
}

.hero-content .hero-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 45px;
    font-weight: 800;
    line-height: 63px;
    text-align: center;
    
}

.hero-content .hero-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin:24px 72px 32px ;
   
}

.hero-content .hero-btn {
   
 
    padding: 21px 24px 21px 24px;
    background-color: black;
    border-radius: 8px;

}

.hero-btn a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

}

/* header part style ends here */


    main{
       
        width: 1440px;
        
        }

/* about section style starts here */


    
    #about{
        width: 1140px;
        height: 1350px;
        margin:80px auto;
        background: rgba(13, 19, 33, 0.02);
       
    }


    #about .about-content{
        
        width: 946px;
        height: 1235px;
        margin: 80px auto;
        

    }

    .about-content .about-heading{
        width: 852px;
        height: 130px;
        
        margin:0 auto 48px;
    }

    .about-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        
    }

    .about-heading h2{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
    }

    .about-heading P{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }


    .about-bg-style{
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    }

    .about-main{
        width: 946px;
        height: 336px;
       
        padding: 48px;

        margin-top: 32px;
        
        
    }

    .about-main-items{
        width: 850px;
        height: 240px;
        

        display: flex;
        justify-content: space-between;


    }

    .about-main-content{
        width: 477px;
        height: 240px;
        
        

    }

    .about-main-content h2{
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
    }

    .about-main-content p{
        color: rgba(13, 19, 33,0.7);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 35px;
    }

    .about-main-content button{
        
       
        padding: 12px 20px 12px 20px;
        border: 1px solid rgb(13, 19, 33);
        background: transparent;

    }

    .about-main-content button a{
        font-family: Azeret Mono;
        color: rgba(13, 19, 33,0.7);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }



    .about-main-img{
        width: 274.17px;
        height: 240px;
        
    }
    

    
/* about section style ends here */


/* inspiration style starts here */

#inspiration{
   
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}

.inspiration-content{
    width: 852px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.inspiration-vedio{
    width: 1140px;
    height: 550px;
    margin-top: 62px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-vedio iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* inspiration style starts here */


/* target section style starts here */
    #target{
        width: 1140px;
        height: auto;
        margin: 150px auto 50px;
    }

    .current-target{
        width: 1140px;
        height: 700px;
        
    }

    .current-target-heading{
        width: 946px;
        height: 175px;
       
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }


    .current-target-card{
        width: 1140px;
        height: 500px;
        
        margin-top: 50px;
        display: flex;
        gap: 24px;
    }
    .card:nth-child(1){
        border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
    }
    .card:nth-child(2){
        border-radius: 16px;
        background: rgba(0, 76, 232, 0.05);
    }

    .card:nth-child(3){
        border-radius: 16px;
        background: rgba(255, 223, 0, 0.05);
    }


    .current-target-card .card{
        width: 380px;
        padding: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        
    }

    

    .card-content{
        width: 260px;
        height: 300px;
         margin-top: 24px;
        margin-bottom: 10px;
    }

    .card-content>h2{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 20px;
        
    }

    .card-content>p{
        color: rgba(13, 19, 33,0.7);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 8px;
       
    }

    .learn-more>a{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;

       
    }


    .next-target{
        width: 1140px;
        height: auto;
       margin-top: 140px;
        
    }

    .next-target-heading{
        width: 946px;
        height: 175px;
       
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 32px;

    }

    .next-target-card{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 50px;

    }

    .n-card{
             display: flex;
            gap: 40px;
            padding: 40px;
            border: 1px solid rgba(13, 19, 33, 0.15);
            border-radius: 16px;
            background: rgb(255, 255, 255);
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    .n-card-img{
        
        width: 15%;
    }

    .n-card-content{
        width: 85%;
        height: 139px;
    }

    .n-card-content>h2{
        margin-bottom: 8px;
    }
    .n-card-content>p{
        margin-bottom: 24px;
    }
    .n-card-content>a{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
    }








/* target section style ends here */

/* contact section  style starts*/

    #contact{

        background: rgba(0, 0, 0, 0.5);
        background-image: url(assets/handshake.jpg);
       
        background-blend-mode: overlay;
        border-radius: 16px;
        
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 1140px;
        height: 313px;
        margin: 80px auto 80px;
        padding: 64px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        border-radius: 16px;
        
        
    }

    .contact-content{
        width: 730px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }

    .contact-content>h1{
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 700;
    }

    .contact-content>p{
        color: rgba(255, 255, 255,0.7);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
    }

    .contact-form input[type="text"]{
        width: 548px;
        height: 57px;
        color: rgba(13, 19, 33, 0.4);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        outline: none;
        border: none;
        border-radius: 5px;
        
    }

    .contact-form input[type="submit"]{
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        padding: 17px 20px 17px 20px;
        background-color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }

    
/* contact section style ends */


/* footer section starts here */

#footer{
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(0, 6, 18, 0.06);
    padding: 32px 150px 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.footer-icon{
    display: flex;
     gap: 25px;
}
/* footer section ends here */